<div jqm-scope-as="jqmSlider" class="ui-slider" data-ng-class="{'ui-disabled': $scopeAs.jqmSlider.disabled}">
    <input type="number" data-ng-model="$scopeAs.jqmSlider.sliderValue" data-type="range" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset ui-slider-input"
        min="$scopeAs.jqmSlider.min" max="$scopeAs.jqmSlider.max" ng-change="$scopeAs.jqmSlider.inputChange()"  />
    <div data-ng-class="{'ui-mini':$scopeAs.jqmSlider.isMini()}" class="ui-slider-track ui-btn-down-c ui-btn-corner-all">
        <a href="#" class="ui-slider-handle ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" data-role="slider" aria-valuenow="$scopeAs.jqmSlider.sliderValue"
           aria-valuemax="$scopeAs.jqmSlider.max" aria-valuemin="$scopeAs.jqmSlider.min" aria-valuetext="0" style="left:50%;" jqm-slider-handle>
            <span class="ui-btn-inner">
                <span class="ui-btn-text"></span>
            </span>
        </a>
    </div>
    <button ng-click="$scopeAs.jqmSlider.btnClick()">bump</button>
</div>
